<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cn_bing_translator_flask</title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss@2.2.1/simple.min.css">
</head>

<body>
    <header>
        <h1>cn_bing_translator_flask</h1>
    </header>

    <main>
        <form id="translate-form" action="/api/translate" method="POST">
            <textarea name="source" id="source" required placeholder="需要翻译的文本"></textarea>
            <select name="fromLang" id="fromLang">
                <option value="auto-detect">自动检测</option>
            </select>
            <span>翻译至</span>
            <select name="toLang" id="toLang">
                <option value="en">英语</option>
            </select>
            <br />
            <input type="submit" id="submit" value="提交">
        </form>
        <textarea id="result" name="result" readonly placeholder="翻译结果"></textarea>
    </main>

    <script>
        const source = document.getElementById('source');
        const fromLang = document.getElementById('fromLang');
        const toLang = document.getElementById('toLang');
        const submit = document.getElementById('submit');
        const result = document.getElementById('result');

        submit.addEventListener('click', (e) => {
            e.preventDefault();

            result.value = '';
            ResizeTextarea(result);

            const data = {
                source: source.value,
                fromLang: fromLang.value,
                toLang: toLang.value
            }

            fetch('/api/translate', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => res.json())
                .then(data => {
                    result.value = data.result;
                    ResizeTextarea(result);
                })
        })
    </script>

    <script>
        /* https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize */
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;resize:vertical;");
            tx[i].addEventListener("input", OnInput, false);

        }

        function OnInput() {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        }

        function ResizeTextarea(element) {
            element.style.height = 0;
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>

    <script>
        languageSupport = {
            "Afrikaans": "af",
            "Albanian": "sq",
            "Amharic": "am",
            "Arabic": "ar",
            "Armenian": "hy",
            "Assamese": "as",
            "Azerbaijani (Latin)": "az",
            "Bangla": "bn",
            "Bashkir": "ba",
            "Basque": "eu",
            "Bosnian (Latin)": "bs",
            "Bulgarian": "bg",
            "Cantonese (Traditional)": "yue",
            "Catalan": "ca",
            "Chinese (Literary)": "lzh",
            "Chinese Simplified": "zh-Hans",
            "Chinese Traditional": "zh-Hant",
            "Croatian": "hr",
            "Czech": "cs",
            "Danish": "da",
            "Dari": "prs",
            "Divehi": "dv",
            "Dutch": "nl",
            "English": "en",
            "Estonian": "et",
            "Faroese": "fo",
            "Fijian": "fj",
            "Filipino": "fil",
            "Finnish": "fi",
            "French": "fr",
            "French (Canada)": "fr-ca",
            "Galician": "gl",
            "Georgian": "ka",
            "German": "de",
            "Greek": "el",
            "Gujarati": "gu",
            "Haitian Creole": "ht",
            "Hebrew": "he",
            "Hindi": "hi",
            "Hmong Daw (Latin)": "mww",
            "Hungarian": "hu",
            "Icelandic": "is",
            "Indonesian": "id",
            "Inuinnaqtun": "ikt",
            "Inuktitut": "iu",
            "Inuktitut (Latin)": "iu-Latn",
            "Irish": "ga",
            "Italian": "it",
            "Japanese": "ja",
            "Kannada": "kn",
            "Kazakh": "kk",
            "Khmer": "km",
            "Klingon": "tlh-Latn",
            "Klingon (plqaD)": "tlh-Piqd",
            "Korean": "ko",
            "Kurdish (Central)": "ku",
            "Kurdish (Northern)": "kmr",
            "Kyrgyz (Cyrillic)": "ky",
            "Lao": "lo",
            "Latvian": "lv",
            "Lithuanian": "lt",
            "Macedonian": "mk",
            "Malagasy": "mg",
            "Malay (Latin)": "ms",
            "Malayalam": "ml",
            "Maltese": "mt",
            "Maori": "mi",
            "Marathi": "mr",
            "Mongolian (Cyrillic)": "mn-Cyrl",
            "Mongolian (Traditional)": "mn-Mong",
            "Myanmar": "my",
            "Nepali": "ne",
            "Norwegian": "nb",
            "Odia": "or",
            "Pashto": "ps",
            "Persian": "fa",
            "Polish": "pl",
            "Portuguese (Brazil)": "pt",
            "Portuguese (Portugal)": "pt-pt",
            "Punjabi": "pa",
            "Queretaro Otomi": "otq",
            "Romanian": "ro",
            "Russian": "ru",
            "Samoan (Latin)": "sm",
            "Serbian (Cyrillic)": "sr-Cyrl",
            "Serbian (Latin)": "sr-Latn",
            "Slovak": "sk",
            "Slovenian": "sl",
            "Somali (Arabic)": "so",
            "Spanish": "es",
            "Swahili (Latin)": "sw",
            "Swedish": "sv",
            "Tahitian": "ty",
            "Tamil": "ta",
            "Tatar (Latin)": "tt",
            "Telugu": "te",
            "Thai": "th",
            "Tibetan": "bo",
            "Tigrinya": "ti",
            "Tongan": "to",
            "Turkish": "tr",
            "Turkmen (Latin)": "tk",
            "Ukrainian": "uk",
            "Upper Sorbian": "hsb",
            "Urdu": "ur",
            "Uyghur (Arabic)": "ug",
            "Uzbek (Latin)": "uz",
            "Vietnamese": "vi",
            "Welsh": "cy",
            "Yucatec Maya": "yua",
            "Zulu": "zu"
        };

        // 追加option
        for (const key in languageSupport) {
            fromLang.innerHTML += ("<option value='" + languageSupport[key] + "'>" + key + "</option>");
            toLang.innerHTML += ("<option value='" + languageSupport[key] + "'>" + key + "</option>");
        }
    </script>
</body>

</html>